.gitignore

coverage/
fixtures/
src/
test/
node_modules/

tsconfig.tsbuildinfo
yarn.lock
package-lock.json
.travis.yml
jest.config.js
tsconfig.json
tsconfig.browser.json
.idea/
.DS_Store
.project
__MACOSX/
*.tgz